<launch>

  <!-- args -->
  <arg name="base_url" default="http://169.254.50.214:8000/v1"/>

  <!-- Simulator -->
  <node pkg="turtlesim" name="turtle" type="turtlesim_node"/>

  <!-- LLM -->
  <node pkg="agent_comm" type="llm_node" name="llm">
    <param name="model" value="deepseek-ai/deepseek-coder-1.3b-base"/>
    <param name="base_url" value="$(arg base_url)"/>
  </node>

  <!-- Observations -->
  <node pkg="rosllm_example" name="posetoarray" type="pose_to_array" ns="turtle1"/>
  <node pkg="observation_manager" name="pose_summarizer" type="template_summarizer" ns="turtle1">
    <param name="sensor_description_path" value="$(find rosllm_example)/config/sensor_description.txt"/>
  </node>  
  <node pkg="observation_manager" name="obs_manager" type="observation_manager_node">
    <param name="config_filename" value="$(find rosllm_example)/config/obs_config.yaml"/>
  </node>

  <!-- Actions -->
  <node pkg="rosllm_example" name="actions" type="actions" output="screen"/>
  <node pkg="behavior_executor" name="behavior" type="sequence_executor"/>

</launch>
